.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    transform: translateX(-104%);
    padding-top: var(--headerh);
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    color: $white-color;
    background: $dark-green-color;
    transition: all 0.3s ease-in-out;
    &--active {
        transform: translateX(0);
    }

    @media screen and (min-width: 1024px) {
        display: none;
    }

    &__wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 100%;
    }
    &__item {
        border-top: 1px solid $green-line-color;
        &.is--open {
            .mobile-menu {
                &__dropdown {
                    &::after {
                        transform: translateY(-50%) rotate(90deg);
                    }
                }
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 20px;
        width: 100%;
        font-size: 20px;
        font-weight: 600;
        color: $white-color;
        &:active {
            color: $white-color;
        }
        
        @media screen and (hover: hover) {
            &:hover {
                color: $white-color;
            }
        }
        @media screen and (hover: none) {
            &:hover {
                color: $white-color;
            }
        }
    }
    &__dropdown {
        position: relative;
        display: block;
        margin-left: 20px;
        min-width: 62px;
        width: 62px;
        height: 62px;
        background: transparent;
        border: none;
        border-radius: 0;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 20px;
            height: 2px;
            background: $white-color;
            border-radius: 4px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 2px;
            height: 20px;
            background: $white-color;
            border-radius: 4px;
            transition: all 0.2s ease-in-out;
        }
        &:focus {
            outline: none;
        }
    }
    &__icon {
        min-width: 18px;
        width: 18px;
        height: 20px;
        color: $white-color;
    }
    &__submenu {
        display: none;
        padding-bottom: 24px;
    }
    &__subitem + &__subitem {
        margin-top: 16px;
    }
    &__link {
        display: block;
        padding: 0 20px;
        width: 100%;
        font-size: 14px;
        font-weight: 600;
        color: $white-color;

        @media screen and (hover: hover) {
            &:hover {
                color: $white-color;
            }
        }
        @media screen and (hover: none) {
            &:hover {
                color: $white-color;
            }
        }
    }
}