.simplebar-track.simplebar-vertical {
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-clip: content-box;
    border-radius: 2px;
}
.simplebar-scrollbar {
    height: 100%;
    &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        opacity: 1;
        background: rgba(#759389, 0.4);
        border-radius: 2px;
    }
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
}
.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}
.simplebar-track.simplebar-vertical.simplebar-hover {
    cursor: pointer;
}
.simplebar-content {
    padding: 0;
}